#comparator div {
    display: flex;
    flex-direction: column;
    margin:5px;
    width: 100%;
    height : 100%;
}
#comparator div textarea {
	margin: 6px;
	border-radius: 5px;
	resize: none;
}

#comparator {
    display: flex;
    flex-direction:row;
    width : 80%;
    height : 100%;
    margin-right: 10%;
    margin-left: 10%;
}

footer {
    position : fixed;
    bottom : 0;
    width : 100%;
    height : 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locale {
	height : 42px;
	margin: 5px;
}