body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#texte {
    display: flex;
    flex-direction: column;
}

#comparator {
    display: flex;
    flex-direction:row;
    width : 80%;
}

#comparator div{
    width : 48 %;
}

footer {
    position : fixed;
    bottom : 0;
    width : 100%;
    height : 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#languages img {
	height : 42px;
	margin: 5px;
}